
		<!-- Scripts -->
			<script src="/html5up-miniport/assets/js/jquery.min.js"></script>
			<script src="/html5up-miniport/assets/js/jquery.scrolly.min.js"></script>
			<script src="/html5up-miniport/assets/js/browser.min.js"></script>
			<script src="/html5up-miniport/assets/js/breakpoints.min.js"></script>
			<script src="/html5up-miniport/assets/js/util.js"></script>
			<script src="/html5up-miniport/assets/js/main.js"></script>

	</body>
</html>