<%= render 'shared/header' %>
	<article class="wrapper style1">
		<div class="container">
			<div class="row">
				<h1>會計科目表</h1>
				<table border="1" cellspacing="0" cellpadding="5">
  				<thead>
    				<tr>
      					<th>ID</th>
      					<th>類別 (Category)</th>
      					<th>科目 (Subject)</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr ng-repeat="j in account">
      					<td>{{ j.id }}</td>
      					<td>{{ j.category }}</td>
      					<td>{{ j.subject }}</td>
    				</tr>
  				</tbody>
				</table>	
			</div>
		</div>
	</article>
			

<%= render 'shared/footer' %>

 <script>
    angular.module('myApp', [])
      .controller('MyController', function($scope, $http) {
        $scope.account = [];
        $http.get('/api/v1/account')
          .then(function(response) {
            $scope.account = response.data;
          }, function(error) {
            console.error('API 讀取失敗：', error.status);
          });
      });
  </script>